/home/haytham/autossh/docker-autossh
AUTHORS.md
CONTRIBUTORS.md
Dockerfile
Dockerfile.arm32v7
LICENSE.md
Makefile
README.md
docker-compose.yml
entrypoint.sh
hooks
key
working.config
version: '3.7'

services:
  ssh-to-docker-host:
    image: jnovack/autossh
    container_name: autossh-ssh-to-docker-host
    environment:
      - SSH_HOSTUSER=haytham
      - SSH_HOSTNAME=homelab.rootit.top
      - SSH_TUNNEL_REMOTE=5555
      - SSH_TUNNEL_HOST=npm_app_1
      - SSH_TUNNEL_LOCAL=80
    restart: always
    volumes:
      - ./key/id_rsa:/id_rsa
    dns:
      - 8.8.8.8
      - 1.1.1.1
networks:
 default:
    external:
      name: npm_default
